.section .ideas-cont {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  position: relative;
}
.section .ideas-cont .ideas-box {
  width: 300px;
  height: auto;
  padding: 15px;
  /* box-shadow:0px 0px 10px var(--bg-l); */
  margin: 10px;
  background: var(--bg-d);
  position: relative;
  border-radius: 10px;
  cursor: pointer;
}
.section .ideas-cont .ideas-box:hover {
  border: 2px solid var(--bg-l);
  transition: 0.2s;
}

.section .ideas-cont .ideas-box .idea-head {
  height: auto;
}
.section .ideas-cont .ideas-box .idea-head .idea-img {
  width: 100%;
  height: 200px;
  border-radius: 15px;
}
.section .ideas-cont .ideas-box .idea-middle p,
.section .ideas-cont .ideas-box .idea-middle a {
  font-weight: 300;
  color: #777;
}
.section .ideas-cont .ideas-box .idea-middle .time {
  color: #777;
}
.section .ideas-cont .ideas-box .ideas-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section .ideas-cont .ideas-box .ideas-footer .left img {
  width: 40px;
  border: 1px solid var(--bg-l);
  border-radius: 50%;
  padding: 5px;
}
.section .ideas-cont .ideas-box .ideas-footer .right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  width: 70%;
  color: #ccc;
}

.section .ideas-cont .ideas-box .ideas-footer .right .likes ion-icon {
  padding: 8px;
  transform: scale(0.85);
  border-radius: 50%;
  color: var(--bg-l);
  cursor: pointer;
  margin: 2px;
}
.section .ideas-cont .ideas-box .ideas-footer .right .likes ion-icon:hover {
  transform: scale(0.95);
  transition: 0.2s;
  background: var(--bg-1);
}
.section .ideas-cont .ideas-box .ideas-footer .right .action {
  display: flex;
  align-items: center;
}
.section .ideas-cont .ideas-box .ideas-footer .right span {
  font-size: 15px;
  color: #777;
}

@media (max-width: 768px) {
  .header .ovl .main {
    width: 100%;
  }
}
